.hero{
    background-image: url(./Assets/image2.jpg);
}
.container.list{
    width: 80%;
    margin: 0 auto;
}
.list .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.list .cardrow .column{
    width: 30%;
}
.card{
    width: 100%;
    padding: 15px 15px 30px 15px;
    box-shadow: 10px 10px 10px rgb(142, 139, 139);
    border: 1px solid rgba(0, 0, 0,.1);
}
.profileBox{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.profileBox img{
    width: 10%;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.text{
    margin: 10px 0;
}
.statics{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


