/* responsive css for tablate start */
@media screen and (max-width: 769px) {
/* hero starts here  */
.hero .column{
    margin: 250px 0 0 0;
}
/* hero ends here  */
/* pods starts here  */
.pods .column{
    width: 100%;
    margin: 20px 0;
}
.pods .row{
    /* display: none; */
    flex-wrap: wrap;
}
/* pods endss here  */
.gallery .bottom .column{
    width: 48%;
}
/* articles page css start */
.blogmain .container .row{
    flex-direction: column;
}
.blogmain .container .row .column{
    width: 100%;
}
.list .cardrow .column{
    width: 45%;
}



.card{
    width: ;
}

/* articles page css end */

/* responsive css for tablate end */
/* responsive css for mobile start */

@media screen and (max-width: 525px) {
/* global css start  */
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size:24px ;
}
.container{
    padding: 30px 15px;
}
/* global css end  */
/* navbar starts here */
.navbar .top{
    display: none;
}
.navbar .navigation{
    display: none;
}
/* navbar ends here */

/* gallery starts here  */

.gallery .bottom .column{
    width: 100%;
}
/* gallery ends here  */

.list .cardrow .column{
    width: 100%;
}

}


/* responsive css for mobile end */
