/* responsive css for tablate start */
@media screen and (max-width: 769px) {
body{
}
.pods .column{
    width: 100%;
    margin: 20px 0;
}
.pods .row{
    /* display: none; */
    flex-wrap: wrap;
}
}
/* responsive css for tablate end */
